# Unicredit training camp

---

## Imports

In [1]:
import pandas as pd

## Data loading

In [13]:
train_set = pd.read_csv('../data/kg_train.csv')
val_set = pd.read_csv('../data/kg_validation.csv')
test_set = pd.read_csv('../data/kg_test_nolabel.csv')

In [4]:
train_set.head()

   Id                        Triple  Label
0   0  34881 intercommunality 14230      0
1   1          9387 ownerOper 39573      0
2   2             12480 coach 24064      0
3   3           6871 branches 22010      0
4   4           13789 damsire 33095      0

In [14]:
train_set[['head', 'relation', 'tail']] = train_set['Triple'].str.split(' ', 2, expand=True)
val_set[['head', 'relation', 'tail']] = val_set['Triple'].str.split(' ', 2, expand=True)
test_set[['head', 'relation', 'tail']] = test_set['Triple'].str.split(' ', 2, expand=True)

In [15]:
train_set.head()

   Id                        Triple  Label   head          relation   tail
0   0  34881 intercommunality 14230      0  34881  intercommunality  14230
1   1          9387 ownerOper 39573      0   9387         ownerOper  39573
2   2             12480 coach 24064      0  12480             coach  24064
3   3           6871 branches 22010      0   6871          branches  22010
4   4           13789 damsire 33095      0  13789           damsire  33095

In [16]:
val_set.head()

      Id                       Triple  Label   head          relation   tail
0  91802              41074 host 9832      0  41074              host   9832
1  91803   12583 primaryLanguages 388      0  12583  primaryLanguages    388
2  91804  22259 seasonTopscorer 22261      1  22259   seasonTopscorer  22261
3  91805        8408 jurisdiction 646      0   8408      jurisdiction    646
4  91806           32 combatant 20690      0     32         combatant  20690

In [17]:
test_set.head()

       Id                       Triple   head           relation   tail
0  114754   1322 operatingSystem 14477   1322    operatingSystem  14477
1  114755            5210 parent 11412   5210             parent  11412
2  114756      38658 leadersSeat 35321  38658        leadersSeat  35321
3  114757         41457 cableServ 4591  41457          cableServ   4591
4  114758  21579 visitorConference 214  21579  visitorConference    214